<div class="container">

  <div class="row">

    <div class="col-sm-7">
          <button type="button" class="btn btn-primary" ng-click="upload(files)">
            +Upload <span class="badge">{{files.length}}</span>
          </button>

      <div class="well well-sm">
        <div ngf-drop
             ng-model="files"
             ngf-change="fileDropped($files, $event, $rejectedFiles)"
             class="drop-box"
             ngf-drag-over-class="dragover"
             ngf-multiple="true"
             ngf-allow-dir="true"
             ngf-accept="{{fileFilter}}"
             ngf-hide-on-drop-not-available="true">
          <span class="label label-primary">Drop data files here</span>
        </div>

        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      </div>
    </div>

    <div class="col-sm-4 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <span>Data Files to Upload</span>
          </div>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <div class="list-group-item" ng-repeat="file in files">
              <span class="text-primary">{{file.name}}</span>
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div> <!-- row -->

</div>